

.nav {
  display: flex;
  flex-direction: row;
}

.logo {
  width: 8%;
  height: 6%;
}

.form {
  display: flex;
  flex-direction: column;
}

nav .list {
  margin: 15px;
  color: #4E91FD;
  padding: 2% 4%;
}
li {
  padding: 4%;
  list-style: none;
}

.btn {
  padding: 8px 20px;
  background-color: #4E91FD;
  color: beige;
  margin-left: 6px;
  border-radius: 8px;
}

.delete {
  background-color: red;
  color: black;
  padding: 8px 20px;
  margin: 8px;
}

.form input {
  align-self: center;
  width: 80%;
  margin-bottom: 3%;
  border-radius: 10px;
  border: 3px solid grey;
  margin-left: 3%;
}
label input {
  padding: 6px;
  margin-bottom: 6px;
} 

.maindiv {
  border: solid 3px grey;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 black;
  width: 35%;
  height:"80%";
}
 .profile {
  align-content: right;
  margin-left: 12px;
  text-align: center;
 }

 .employeelist {
  text-align: center;
 }

 span {
  font-size: 26px;
  text-align: center;
 }

 #search {
  margin-top: 3%;
  height: 8%;
  width: 50%;
  border-radius: 10px;
  border: 3px solid grey;
 }

 .submit {
  margin-bottom: 2%;
  width: 85%;
 }

 